.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}


p {
font-size: 20px;
font-weight: 30px;
padding-top: 20px;
}

.App {
  text-align: left;
}

.switchBtn {
  width: fit-content !important;
  margin-left: 10px;
}
.dark-mode {
  display: flex;
  flex-shrink: initial;
}

.item {
  /* border: 8px solid tomato; */
  border-radius: 6px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
  min-height: 100px;
  min-width: 100%;
}

/* Grid system */

.portfolio.container {
  display: grid;
  grid-template-columns: repeat (3, minmax(360px, 1fr));
  grid-template-rows: repeat (3, minmax(360px, 1fr));
  grid-template-areas: 
  "header   header  header"
  "content  content content"
  "footer   footer  footer";
}

.item.header-container {
  grid-area: header;
  box-shadow: none; 
}

.item.content-container {
  grid-area: content;
  box-shadow: none; 
}

.item.footer-container {
  grid-area: footer;
}

/* END Grid system */

body {
  display: block;
  overflow-x: hidden;
}

/* navbar section */
nav {
  background-color: white;
}
.navbar-brand img {
  max-height: 50px;
}
.navbar-light .navbar-brand  {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 900;
  color: #683aa4;
}
nav ul li a {
  color: #a9a9a9;
  font-size: 22px;
  margin: auto 10px;
}
nav ul li a:hover {
  color: #683aa4;
}

section {
  padding-top: 50px;
  padding-bottom: 50px;
}
h1 {
  text-transform: uppercase;
  font-weight: 900;
  color: #683aa4;
  margin-bottom: 20px;
}
section p {
  font-size: 20px;
  font-weight: 300;
  padding-top: 20px;
}

h1:hover {
  color: #077AFA;
  font-weight: 500px;
}

img:hover {
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.25);
}

.navbar-light .navbar-nav .nav-link.active {
  color: #683aa4;
}

/* Hero section */
#hero {
margin-top: 7vw;
}
#hero .col {
  justify-content: center; 
  flex-direction: column;
  display: flex;

}
#hero .img-col {
  justify-content:flex-start; 
  margin-top: 100px;
}
#hero img {
  max-width: 130% !important;
  width: 100%;
  border-radius: 50%;
}
#hero .card {
  box-shadow: 11px 7px 16px #f9f9f9;
  border: 0;
  text-align: center;
}
#hero .icon {
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
  color:#683aa4;
}

#fe-desc {
  overflow-wrap: normal;
}

.sosmed-container {
  display: flex;

  width: 25vw;
  margin: 40px;
}

/* Potfolio section */
/* #portfolios {
  border-bottom: 1px solid #E7E7E7;
} */

#portfolios .col {
  justify-content: center; 
  flex-direction: column;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

#portfolios.img-col {
  justify-content: flex-end; 
  margin-top: 100px;
}

#portfolios.card {
  box-shadow: 11px 7px 16px #f9f9f9;
  border: 0;
  text-align: center;
}

.col.portfolios {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10px;
  width: 100vw;
}

.col.skills {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  width: 100vw;
}

.card-title, .card-text{
  color: #333;
}

.carousels-container {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 25px 40vw 25px 50vw;
  border-bottom: 1px solid #E7E7E7;
}

.carousel-item {
  width: 300px;
  padding: 20px;
}

.carousel-indicators {
  display: none;
}

.carousel-control-prev, .carousel-control-next  {
  display: none;
}

.icon {
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
  color:#683aa4;
}

.btn {
    background-color: #683aa4;
    border: none;
    width: 200px;
    border-radius: 50px !important;
}

.btn-shadow:hover {
  box-shadow: 3px 7px #000;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
    margin: 10px;
}


.send-btn {
  margin: 20px auto 20vh 0;
  width: 200px;
  border-radius: 50px !important;
}

/* Footer */

.copyright {
color: #683aa4;
font-weight: 30px;
font-size: 20px;
}

/* Form page */
form {
margin: 100px 0;
}

h1 .contact-title {
margin-top: 100vh;
}

.item form {
 margin: 20vh 20vw auto 10vw;
}

.mb-3 input {
  width: 50%;
}

/* Modal */
.modals {
display: none;
position: fixed;
padding-top: 20px;
left: 0;
top: 0;
text-align: center;
width: 100%;
height: 100%;
background-color: rgba(109, 106, 106, 0.3);
}

.modals-content {
position: relative;
background-color: white;
padding: 10px 20px;
margin: 20vh;
width: 25%;
box-shadow: 11px 7px 16px #c4c4c4;
-webkit-animation-name: animatetop;
-webkit-animation-duration: 0.4s;
animation-name: animetop;
animation-duration: 0.4s;
}

.close-btn {
float: right;
color: #c4c4c4;
font-size: 30px;
font-weight: bold;
}

.close-btn:hover {
color: darkgray;
}

/* .notFound {
  display: flex;
  justify-content: center;
} */

@-webkit-keyframes animatetop {
from {top:-300px; opacity:0}
to {top:0; opacity:1}
}

@keyframes animatetop {
from {top:-300px; opacity:0}
to {top:0; opacity:1}
}


@media only screen and (max-width: 600px) {


/* Hero section */

#hero {
  margin-top: 7vw;
  justify-content: center; 
  display: flex;
  flex-direction: column;
}

#hero img {
  max-width: 130% !important;
  width: 100%;
  border-radius: 50%;
}

/* .hero-content {
  display: flex;
  flex-direction: column;
} */

/* #portfolios .col {
  justify-content: center;
  flex-direction: column;
  display: flex;
  align-items: flex-start; 
  margin-bottom: 10px;
} */

.carousels-container {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 25px 0;border-bottom: 1px solid #E7E7E7;
}

.carousel-item {
  margin-left: 5px;
  width: 33.3%;
}

.copyright {
  color: #683aa4;
  font-weight: 30px;
  font-size: 20px;
  display: flex;
  justify-content: flex-start;
  margin-left: 10vw;
}

.notFound {
  text-align: justify;
}

}